{:paths   ["src"]
 :deps    {com.github.haifengl/smile-core   {:mvn/version "1.5.3"}
           com.github.haifengl/smile-netlib {:mvn/version "1.5.3"}
           ml.dmlc/xgboost4j                {:mvn/version "0.90"}
           com.taoensso/nippy               {:mvn/version "2.15.0-RC1"}
           ribelo.visby                     {:git/url "https://github.com/ribelo/visby"
                                             :sha     "9d0eeab83277a75f0483a121e5dc28596f467c06"}
           ribelo.haag                      {:git/url "https://github.com/ribelo/haag"
                                             :sha     "cf658b38642b109908bdc491c69e7a7770c47223"}}
 :aliases {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}}}
